*~
.*~
*.x
*.a
*.o
*.mod

Modules/version.f90
bin/iotk
include/c_defs.h
install/make_blas.inc
iotk

install/config.log
install/config.status
install/configure.msg
install/make_lapack.inc
install/make_wannier90.sys
make.sys
