*~
.*~
*.x
*.a
*.o
*.mod
make.depend
data
dip?.out

NEB/
PWCOND/
XSpectra/
archive/neb-5.2.0.tar.gz
archive/pwcond-5.2.0.tar.gz
archive/xspectra-5.2.0.tar.gz
install/make-neb
install/make-phonon
install/make-pwcond
install/make-tddfpt
install/make-xspectra
install/uncompress-neb
install/uncompress-phonon
install/uncompress-pwcond
install/uncompress-tddfpt
install/uncompress-xspectra

archive/atomic-5.2.0.tar.gz
atomic/
install/make-ld1
install/uncompress-ld1

Modules/version.f90
bin/iotk
include/c_defs.h
install/make_blas.inc
iotk

install/config.log
install/config.status
install/configure.msg
install/make_lapack.inc
install/make_wannier90.sys
make.sys

config.log
config.status
makedeps.sh
ce-tddft/src/Makefile
ce-tddft/src/Makefile-gpu

ce-tddft-yuanchange/src/Makefile-gpu
ce-tddft-yuanchange/src/Makefile
ce-tddft-yuanchange/src/make.depend

rehnd-tddft/src/Makefile-gpu
rehnd-tddft/src/Makefile
rehnd-tddft/src/make.depend

out
*.pw-out
*.tddft-out